
<li lang="android">
    <a href="{{ site.dcp_android }}" class="otherLinkColour">DCP-Android Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
<li lang="ios">
    <a href="{{ site.dcp_ios }}" class="otherLinkColour">DCP-iOS Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-ios.html" -%}
<li lang="maui">
    <a href="{{ site.dcp_maui }}" class="otherLinkColour">DCP-MAUI Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-maui.html" -%}
