<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>
<li lang="objectivec-swift"><a href="{{ site.dcp_ios }}user-guide/getting-started.html" class="otherLinkColour">User Guide</a></li>
<li lang="objectivec-swift"><a class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.dcp_ios_api }}code-parser.html" class="otherLinkColour">CodeParser</a></li>
                <li><a href="{{ site.dcp_ios_api }}code-parser-module.html" class="otherLinkColour">CodeParserModule</a></li>
                <li><a href="{{ site.dcv_ios_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                <li><a href="{{ site.dcp_ios_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <li><a href="{{ site.dcp_ios_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.enumerations }}core/error-code.html?lang=objc,swift" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.enumerations }}code-parser/mapping-status.html?lang=objc,swift" class="otherLinkColour">MappingStatus</a></li>
                <li><a href="{{ site.enumerations }}code-parser/validation-status.html?lang=objc,swift" class="otherLinkColour">ValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.dcp_ios_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.dcp_ios_release_notes }}ios-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
