<li lang="maui" class="category">DEVELOPMENT ON MAUI</li>
<li lang="maui"><a class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.dcp_maui_api }}code-parser-module.html" class="otherLinkColour">CodeParserModule</a></li>
                <li><a href="{{ site.dcp_maui_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <li><a href="{{ site.dcp_maui_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcp_maui_api }}enum/mapping-status.html" class="otherLinkColour">MappingStatus</a></li>
                <li><a href="{{ site.dcp_maui_api }}enum/validation-status.html" class="otherLinkColour">ValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="maui" class="category">USEFUL RESOURCES</li>
<li lang="maui"><a href="{{ site.dcp_maui }}release-notes/index.html" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.dcp_maui }}release-notes/maui-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
