<li lang="android" class="category">DEVELOPMENT</li>
<li lang="android"><a href="{{ site.dcp_android }}user-guide/getting-started.html" class="otherLinkColour">User Guide</a></li>
<li lang="android"><a class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.dcp_android_api }}code-parser.html" class="otherLinkColour">CodeParser</a></li>
                <li><a href="{{ site.dcp_android_api }}code-parser-module.html" class="otherLinkColour">CodeParserModule</a></li>
                <li><a href="{{ site.dcv_android_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                <li><a href="{{ site.dcp_android_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.enumerations }}core/error-code.html?lang=android" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.enumerations }}code-parser/mapping-status.html?lang=android" class="otherLinkColour">MappingStatus</a></li>
                <li><a href="{{ site.enumerations }}code-parser/validation-status.html?lang=android" class="otherLinkColour">ValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="android"><a href="{{ site.dcp_android_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.dcp_android_release_notes }}android-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
